.main {
	margin-top: 70px;
}

img.profile {
	object-fit: cover;
	height: 170px;
	width: 170px;
}

.custom-file-label::after  {
	height: auto !important;
}

.typeahead__container {
	font: inherit !important;
}

.typeahead__field input {
	border-radius: 0.25rem !important;
}

.vote {
	font-size: 1.1rem;
}

.btn.no-hover:hover {
	border-color: #8E8C84;
}